<html>
    <head>
        <title>Login Here</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
      <meta charset="utf-8">
      <title>Login Here</title>
      <link rel="stylesheet" type="text/css" href="styles/style2.css">
        </head>
    <body>
    <div class="header">
    <img src="styles/SIH.jpg" 
    data-src-600px="image-600px.jpg"
    data-src-800px="image-800px.jpg"
    alt="Smart India Hackathon">
   <h1>Vital Systems</h1>
 </div>
<div class="Loginbox">
<h2>Login</h2>


                <form action="/login" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text" placeholder="Enter your User Name" name="username"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" placeholder="Enter your password" name="password"/>
                    </div>		    
                    <div>
                        <input type="submit" value="Log In"/>
                    </div>
                </form>  
                <a href="/signup">Don't have an Account?</a>                
            </div>          
        </div>
    </body>
</html>